<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>{{text[0]}}</h1>
		</div>
		<div class="row">
			<div class="col-sm-12">
			</div>
		</div>

		<div class="row">
		<center>
		<h3>{{text[1]}}</h3>
		{{ plot_url }}
		</center>
		</div>
		<div class="row">
			<center>
				{% for table in tables %}
				{{ table|safe }}
				{% endfor %}
			</center>
		</div>
	</div>
</body>
</html>